/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * goodcopbadcop implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * goodcopbadcop.css
 *
 * goodcopbadcop stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (goodcopbadcop_goodcopbadcop.tpl), and to HTML elements you create dynamically
    (in goodcopbadcop.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

/* HIGHLIGHTING */
.cardHighlighted
{
    /*box-shadow: 00px 0px 10px 20px #edd40d !important; /* in order: x offset, y offset, blur size, spread size, color */
    box-shadow: 0 0 10px 10px rgba(229, 13, 140, 1);
  	/*transform: scale(1);*/
  	animation: pulse 1s infinite;
}

@keyframes pulse {
  	0% {
  		/*transform: scale(0.95);*/
  		box-shadow: 0 0 10px 5px rgba(229, 13, 140, 0.7);
  	}

  	70% {
  		/*transform: scale(1);*/
  		box-shadow: 0 0 10px 10px rgba(229, 13, 140, 0.2);
  	}

  	100% {
  		/*transform: scale(0.95);*/
  		box-shadow: 0 0 10px 5px rgba(229, 13, 140, 0.2);
  	}
}

/* BOARD LAYOUT */
#board_area div {
    /*outline: 1px solid red;*/
}

.player_holder_vertical {
    display:inline-block;
    width: 180px;
    height: 210px;

    margin-left: 5px;
    margin-right: 5px;

    vertical-align: top;

}

.player_holder_horizontal {
    display:inline-block;
    width: 225px;
    height: 150px;

}

.player_row_vertical {
    display:block;
    height: 70px;
    width: 180px;
}

.player_row_horizontal {
    display:inline-block;
    height: 50px;
    width: 215px;
}

.first_equipment_active_holder_vertical {
    display: inline;
}

.first_equipment_active_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

.gun_holder_vertical {
    display: inline;
}

.gun_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

.eliminated_player_area {
    background-color: gray;
}

.other_equipment_active_holder_vertical {
    display: inline;
}

.other_equipment_active_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

.integrity_card_holder_vertical {
    display: inline;
    position: relative; /* required to make it move around */
}

.integrity_card_holder_horizontal {
    display: inline;
}

.player_name_holder_vertical {
    display: inline-block;
    width: 150px;
}

.player_name_holder_horizontal {
    display: inline-block;
}

.equipment_hand_holder_vertical {
    display: inline;
}

.equipment_hand_holder_horizontal {
  display: inline-block;
  width: 70px;
  height: 50px;
}

.reference_card_holder_vertical {
    display: inline;
}

.reference_card_holder_horizontal {
  display: inline-block;

  width: 70px;
  height: 50px;
}

.corner_box {
    display: inline-block;
    width: 205px;
    height: 205px;
    vertical-align: top;
}

.placeholder_horizontal {
  display: inline-block;
  width: 70px;
  height: 50px;
}

.card_placeholder_horizontal {
    display: inline-block;
    width: 70px;
    height: 50px;
}

#center_area_top {
    display: inline-block;
    vertical-align: top;
    width: 335px;
    height: 150px;
}

#center_area_bottom {
    display: inline-block;
    vertical-align: top;
    width: 335px;
    height: 150px;
}

#gun_row {
    margin-left: auto;
    margin-right: auto;
    width: 216px;
}

.gun_holder {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    width: 80px;
}

#upper_left_name_divider {
    width: 205px;
    height: 180px;
}

#board_area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 830px;

}

.board_row {
    width: 830px;
    height: 205px;
}

/* PLAYER NAMES */
#player_a_name_holder {
    float:right;
    vertical-align: baseline;
}

#player_b_name_holder {
    display: block;
}

#player_c_name_holder {
    display: block;
    width: 205px;
    height: 180px;
}

#player_d_name_holder {
    display: block;
    float: right;
    height: 180px;
}

#player_e_name_holder {
    display: inline-block;
    float:right;
}

#player_f_name_holder {
    float:right;
}

#player_g_name_holder {
    display: block;
    height: 125px;
}

#player_h_name_holder {

}

#player_g_a_win_condition_holder {
  display: inline;
}

/* GUNS */

.gun {
    display: inline-block;
    position: absolute; /* needed for a thing that slides */
    width: 70px;
    height: 50px;
    background-image: url('img/gun_70w.jpg');
}

.wounded_token {
    display: inline-block;
    position: absolute; /* needed for a thing that slides */
    width: 50px;
    height: 50px;
    background-image: url('img/wounded_50w.png');
}

/* INTEGRITY CARDS */
.integrity_card {
    display: inline-block;
    width: 50px;
    height: 70px;
    background-image: url('img/integrity_card_sprite_50w.jpg');
    cursor: pointer;
}

.component_rounding {
    border-radius: 5px;
    border: 1px black solid;

    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

/* EQUIPMENT CARDS */
.equipment_card_back
{
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.moving_equipment_card_back
{
    width: 50px;
    height: 70px;
    position: absolute; /* needed for a thing that slides */
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.active_equipment_card
{
    display: inline-block;
    position: absolute; /* needed for a thing that slides */
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.active_center_equipment_card
{
  display: inline-block;
  position: relative;; /* needed for a thing that slides */
  width: 50px;
  height: 70px;
  background-image: url('img/equipment_card_sprite_50w.jpg');
  background-position:-0px -0px;
  cursor: pointer;
  margin-left: 150px;

}

.hand_equipment_card
{
    display: inline-block;
    /*position: absolute; /* needed for a thing that slides */
    position: relative;
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.large_equipment
{
    background-image: url('img/equipment_card_sprite_400w.jpg');
    width: 400px;
    height: 560px;

    border-radius: 10px;
    border: 1px black solid;
}

#active_equipment_center_holder
{
  width: 335px;
  height: 100px;
  position: relative;
  left: 50%;
  top: 50%;

  margin-top: 20px;
  margin-left: -167px;
}


.opponent_equipment_card_horizontal
{
    display: inline-block;
}
