/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * goodcopbadcop implementation : © Pull the Pin Games - support@pullthepingames.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * goodcopbadcop.css
 *
 * goodcopbadcop stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (goodcopbadcop_goodcopbadcop.tpl), and to HTML elements you create dynamically
    (in goodcopbadcop.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

/* HIGHLIGHTING */
.cardHighlighted
{
    /*box-shadow: 00px 0px 10px 20px #edd40d !important; /* in order: x offset, y offset, blur size, spread size, color */
    box-shadow: 0 0 10px 10px rgba(229, 13, 140, 1);
  	/*transform: scale(1);*/
  	animation: pulse 1s infinite;
}

@keyframes pulse {
  	0% {
  		/*transform: scale(0.95);*/
  		box-shadow: 0 0 10px 5px rgba(229, 13, 140, 0.7);
  	}

  	70% {
  		/*transform: scale(1);*/
  		box-shadow: 0 0 10px 10px rgba(229, 13, 140, 0.2);
  	}

  	100% {
  		/*transform: scale(0.95);*/
  		box-shadow: 0 0 10px 5px rgba(229, 13, 140, 0.2);
  	}
}

/* BOARD LAYOUT */
#board_area div {
    /*outline: 1px solid red;*/
}

.player_holder_vertical {
    display:inline-block;
    width: 180px;
    height: 160px;

    margin-left: 5px;
    margin-right: 5px;

    vertical-align: top;

}

.player_holder_horizontal {
    display:inline-block;
    width: 150px;
    height: 150px;

    margin-left: 19px;
}

#player_d_area {
    margin-left: 20px;
}

#player_f_area {
    margin-left: 20px;
}



.player_row_vertical {
    display:block;
    height: 77px;
    width: 180px;
}

.player_row_horizontal {
    display:inline-block;
    height: 55px;
    width: 160px;
}

.first_equipment_active_holder_vertical {
    display: inline-block;
    width: 50px;
    height: 70px;
}

.first_equipment_active_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

.gun_holder_vertical {
    display: inline-block;
    width: 50px;
    height: 70px;
    margin-top: 8px;
}

.gun_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

#player_b_gun_holder {
  margin-left: 35px;
  width: 10px; /* to make it not go to next line on mobile */
}

#player_g_gun_holder {
  margin-left: 35px;
  width: 10px; /* to make it not go to next line on mobile */
}

#player_d_gun_holder {
    margin-left: -15px;
    width: 85px;
}

#player_f_gun_holder {
    margin-left: -15px;
    width: 85px;
}


.eliminated_player_area {

  background-position:-0px -0px;
  background-image: url('img/player_mat_eliminated.png');
  opacity: 1.0;
  background-repeat: no-repeat;

/* glowing black version
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow:
        inset 0 0 50px gray,
        inset 5px 0 20px black,
        inset -5px 0 20px gray,
        inset 5px 0 50px black,
        inset -5px 0 50px gray,
          0 0 50px gray,
          -5px 0 20px black,
          5px 0 20px gray;
*/
}

.zombie_player_area {

  background-position:-0px -0px;
  background-image: url('img/player_mat_zombie.png');
  opacity: 1.0;
  background-repeat: no-repeat;

/* glowing green option
    border-radius: 25px;
    background-color: rgba(0, 154, 68, 0.5);
    box-shadow:
        inset 0 0 50px #009A44,
        inset 5px 0 20px #046A38,
        inset -5px 0 20px #009A44,
        inset 5px 0 50px #046A38,
        inset -5px 0 50px #009A44,
          0 0 50px gray,
          -5px 0 20px #046A38,
          5px 0 20px #009A44;
*/
}

.other_equipment_active_holder_vertical {
    display: inline;
}

.other_equipment_active_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

#player_b_first_equipment_active_holder {
    margin-left: 25px;
    margin-bottom: 15px;
    width: 10px; /* to make it not move to next line on mobile */
}

#player_g_first_equipment_active_holder {
    margin-left: 25px;
    margin-bottom: 15px;
    width: 10px; /* to make it not move to next line on mobile */
}

#player_d_first_equipment_active_holder {
    margin-left: -15px;
    margin-bottom: 15px;
    width: 85px;
}

#player_f_first_equipment_active_holder {
    margin-left: -15px;
    margin-bottom: 15px;
    width: 85px;
}

#player_h_first_equipment_active_holder {
    margin-top: -5px;
    height: 85px;
}

#player_a_first_equipment_active_holder {
    margin-top: -5px;
    height: 85px;
}

.integrity_card_holder_vertical {
    display: inline;
    position: relative; /* required to make it move around */
}

.integrity_card_holder_horizontal {
    display: inline;
}

.player_name_holder_vertical {
    display: inline-block;
    width: 150px;
}

.player_name_holder_horizontal {
    display: inline-block;
}

.equipment_hand_holder_vertical {
    display: inline;
}

.equipment_hand_holder_horizontal {
  display: inline-block;
  width: 70px;
  height: 50px;
}

.reference_card_holder_vertical {
    display: inline-block;
    width: 50px;
    height: 70px;
}

.reference_card_holder_horizontal {
  display: inline-block;

  width: 70px;
  height: 50px;
}

.corner_box {
    display: inline-block;
    width: 150px;
    height: 160px;
    vertical-align: top;
}

.placeholder_vertical {
  display: inline-block;
  width: 50px;
  height: 70px;
}

.placeholder_horizontal {
  display: inline-block;
  width: 70px;
  height: 50px;
}

.card_placeholder_horizontal {
    display: inline-block;
    width: 70px;
    height: 50px;
}

#center_area_top {
    display: inline-block;
    vertical-align: top;
    width: 345px;
    height: 150px;

    margin-top: 15px;
    background-image: url('img/bga_center_mat.jpg');
}

#center_area_bottom {
    display: inline-block;
    vertical-align: top;
    width: 345px;
    height: 150px;
}

#qr_code {
    width: 150px;
    height: 150px;

    background-image: url('img/qr-code_150w.png');
}

#qr_code_follow {
    text-align: center;
}

#board_area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 710px;

}

.board_row_vertical {
    width: 710px;
    height: 160px;

    margin-top: 7px;
    margin-bottom: 7px;
}

.board_row_horizontal {
    width: 710px;
    height: 175px;

    margin-top: 7px;
    margin-bottom: 7px;
}

/* PLAYER NAMES */
#player_a_name_holder {
    float:right;
    vertical-align: baseline;
    margin-top: 95px;
}

#player_b_name_holder {
    display: block;
}

#player_c_name_holder {
    display: block;
    width: 150px;
    height: 20px;
}

#player_d_name_holder {
    display: block;
    margin-top: 10px; /* make 40 so it doesn't get covered up by integrity cards on mobile? */
    float:right;
}

#player_e_name_holder {
    display: inline-block;
    width: 150px;
    height: 20px;
    float:right;
}

#player_f_name_holder {
    float:right;
}

#player_g_name_holder {
    display: block;
    margin-top: 10px; /* make 40 so it doesn't get covered up by integrity cards on mobile? */
    margin-bottom: 5px;
}

#player_h_name_holder {
  vertical-align: baseline;
  margin-top: 101px;
}

#player_g_a_win_condition_holder {
  display: inline;
}

#player_d_h_win_condition_holder {
  display: inline;
}

#upper_left_name_divider {
    width: 150px;
    height: 130px;
}

#upper_right_name_divider {
    width: 150px;
    height: 110px;
}

/* GUNS */

#gun_row {

    width: 335px;
    height: 60px;
}

.gun_holder {
    display: inline-block;
    margin-left: 11px;
    margin-right: 0px;
    width: 70px;
    height: 50px;

    float: left;
}

#gun_deck {
  background-position:-0px -0px;
  background-image: url('img/gun_70w.jpg');
  opacity: 0.7;
}

#arm_deck {
  background-position:-0px -50px;
  background-image: url('img/gun_70w.jpg');
  opacity: 0.7;
}

.gun {
    display: inline-block;
    position: absolute; /* needed for a thing that slides */
    width: 70px;
    height: 50px;
    background-image: url('img/gun_70w.jpg');
}

.wounded_token {
    display: inline-block;
    position: absolute; /* needed for a thing that slides */
    width: 50px;
    height: 50px;
    margin-right: -10px;
    background-image: url('img/wounded_50w.png');
}

.infection_token {
    display: inline-block;
    position: absolute; /* needed for a thing that slides */
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-left: -5px;
    background-image: url('img/wounded_50w.png');
}

.center_integrity_token {
    opacity: 0.7;
    margin-left: 15px;
    margin-top: 0px;
}

/* INTEGRITY CARDS */
.integrity_card {
    display: inline-block;
    position: relative; /* needed for a thing that slides */
    width: 50px;
    height: 70px;
    background-image: url('img/integrity_card_sprite_50w.jpg');
    cursor: pointer;
}

.integrity_card_reset
{
    top: 0px !important;
    left: 0px !important;
}

.component_rounding
{
    border-radius: 5px;
    border: 1px black solid;

    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

.large_component_rounding
{
    border-radius: 15px  !important;
    border: 1px black solid !important;

    -moz-box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.4) !important;
    -webkit-box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.4) !important;
    -o-box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.4) !important;
    box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.4) !important;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30) !important;
}

.stockitem
{
  border-radius: 5px;
  border: 1px black solid;

  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

@media (hover: none) {
  #current_player_token {
    background-position-x:-30px !important; /* use left and right arrows on mobile */
  }
}

#current_player_token
{
    position: absolute; /* needed for a thing that slides */
    background-image: url('img/start_player_arrow.png');
    width: 30px;
    height: 30px;
    /*left: 160px;
    top: 20px;*/
}

/*
.action-button
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
*/
/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

/* EQUIPMENT CARDS */
#equipment_deck
{
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    opacity: 0.7;
}

.equipment_card_back
{
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.moving_equipment_card_back
{
    width: 50px;
    height: 70px;
    position: absolute; /* needed for a thing that slides */
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.player_board_hand_equipment
{
    display:inline-block;
    margin-left: 5px;
    margin-top: 5px;
    width: 110px;
}

.player_board_active_equipment
{
  display:inline-block;
  float:right;
  margin-top: 5px;
  width: 110px;
}

.active_equipment_card
{
    display: inline;
    position: relative; /* needed for a thing that slides */
    float: left;
    width: 50px;
    height: 70px;
    top: 0px !important;
    left: 0px !important;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
    opacity: 0.5;
}

.active_center_equipment_card
{
  display: inline-block;
  position: relative; /* needed for a thing that slides */
  width: 50px;
  height: 70px;
  background-image: url('img/equipment_card_sprite_50w.jpg');
  background-position:-0px -0px;
  cursor: pointer;
  z-index: 10;
}

.hand_equipment_card
{
    display: inline-block;
    /*position: absolute; /* needed for a thing that slides */
    position: relative;
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.large_equipment
{
    background-image: url('img/equipment_card_sprite_240w.jpg');
    width: 240px;
    height: 336px;

    border-radius: 10px;
    border: 1px black solid;
}

.large_equipment_name
{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 25px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bolder;
    background-color: #ffffff;
}

.large_equipment_effect
{
    margin-top: 197px;
    margin-left: 27px;
    margin-right: 27px;
    font-size: 12px;
    line-height: 14px; /* needed to make it fit on mobile */
}

#center_logo_buffer
{
    display: inline-block;
    width: 190px;
    height: 90px;
}

#active_equipment_center_holder
{
  display: inline;
    width: 50px;
    height: 70px;

    margin-left: 8px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 8px;

    float: right;
}

#equipment_deck
{
  display: inline;
    width: 50px;
    height: 70px;

    margin-left: 8px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 8px;

    float: right;
}

.opponent_equipment_card_horizontal
{
    display: inline-block;
}

.message_log_equipment
{
    font-weight: bolder;
    /*background-color: #d8ccb8;*/
}
