/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * goodcopbadcop implementation : © Pull the Pin Games - support@pullthepingames.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * goodcopbadcop.css
 *
 * goodcopbadcop stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (goodcopbadcop_goodcopbadcop.tpl), and to HTML elements you create dynamically
    (in goodcopbadcop.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

/* HIGHLIGHTING */
.cardSelected
{
/*    border-color: #E50D46 !important;
    -webkit-box-shadow:inset 0px 0px 0px 5px #E50D46 !important;
    -moz-box-shadow:inset 0px 0px 0px 5px #E50D46 !important;
    box-shadow:inset 0px 0px 0px 5px #E50D46 !important;
*/
/*
-webkit-box-shadow:inset 0px 0px 0px 4px #ffffff !important;
-moz-box-shadow:inset 0px 0px 0px 4px #ffffff !important;
box-shadow:inset 0px 0px 0px 4px #ffffff !important;
*/
border-color: #ffffff !important; /* simple white border */
}

.cardHighlighted
{
    /*box-shadow: 00px 0px 10px 20px #edd40d !important; /* in order: x offset, y offset, blur size, spread size, color */
    box-shadow: 0 0 10px 10px rgba(229, 13, 140, 1); /* dull red */
  	/*transform: scale(1);*/
  	animation: pulse 1s infinite;
}
@keyframes pulse {
  	0% {
  		/*transform: scale(0.95);*/
  		box-shadow: 0 0 10px 5px rgba(229, 13, 140, 0.7);
  	}

  	70% {
  		/*transform: scale(1);*/
  		box-shadow: 0 0 10px 10px rgba(229, 13, 140, 0.2);
  	}

  	100% {
  		/*transform: scale(0.95);*/
  		box-shadow: 0 0 10px 5px rgba(229, 13, 140, 0.2);
  	}
}

.equipmentTargetHighlighted
{
    /*box-shadow: 00px 0px 10px 20px #edd40d !important; /* in order: x offset, y offset, blur size, spread size, color */
    box-shadow: 0 0 10px 10px rgba(62, 109, 255, 1); /* dull blue */
    /*transform: scale(1);*/
    animation: pulseBlue 1s infinite;
}
@keyframes pulseBlue {
  	0% {
  		/*transform: scale(0.95);*/
  		box-shadow: 0 0 10px 5px rgba(62, 109, 255, 0.7);
  	}

  	70% {
  		/*transform: scale(1);*/
  		box-shadow: 0 0 10px 10px rgba(62, 109, 255, 0.2);
  	}

  	100% {
  		/*transform: scale(0.95);*/
  		box-shadow: 0 0 10px 5px rgba(62, 109, 255, 0.2);
  	}
}

/* BOARD LAYOUT */
#board_area div {
    /*outline: 1px solid red;*/
}

.player_holder_vertical {
    display:inline-block;
    width: 180px;
    height: 160px;

    margin-left: 5px;
    margin-right: 5px;

    vertical-align: top;

}

.player_holder_horizontal {
    display:inline-block;
    width: 150px;
    height: 150px;

    margin-left: 19px;
}

#player_d_area {
    margin-left: 20px;
}

#player_f_area {
    margin-left: 20px;
}



.player_row_vertical {
    display:block;
    height: 77px;
    width: 180px;
}

.player_row_horizontal {
    display:inline-block;
    height: 55px;
    width: 160px;
}

.first_equipment_active_holder_vertical {
    display: inline-block;
    width: 50px;
    height: 70px;
}

.first_equipment_active_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

.gun_holder_vertical {
    display: inline-block;
    width: 50px;
    height: 70px;
    margin-top: 8px;
}

.gun_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

#player_b_gun_holder {
  margin-left: 35px;
  width: 10px; /* to make it not go to next line on mobile */
}

#player_g_gun_holder {
  margin-left: 35px;
  width: 10px; /* to make it not go to next line on mobile */
}

#player_d_gun_holder {
    margin-left: -15px;
    width: 85px;
}

#player_f_gun_holder {
    margin-left: -15px;
    width: 85px;
}

.gun_reset
{
    top: 0px !important;
    left: 0px !important;
    position: relative !important;
}


.game_winner_player_area {
      border-radius: 25px;
      background-color: rgba(128, 128, 128, 0.5);
      box-shadow:
          inset 0 0 50px gray,
          inset 5px 0 20px green,
          inset -5px 0 20px gray,
          inset 5px 0 50px green,
          inset -5px 0 50px gray,
            0 0 50px gray,
            -5px 0 20px green,
            5px 0 20px gray;

}

.game_winner_player_name {
      border-width: 5px;
      border-color: green !important;
      border-style: solid;
      border-radius: 5px;
}


.eliminated_player_area {

  background-position:-0px -0px;
  background-image: url('img/player_mat_eliminated.png');
  opacity: 1.0;
  background-repeat: no-repeat;

/* glowing black version
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow:
        inset 0 0 50px gray,
        inset 5px 0 20px black,
        inset -5px 0 20px gray,
        inset 5px 0 50px black,
        inset -5px 0 50px gray,
          0 0 50px gray,
          -5px 0 20px black,
          5px 0 20px gray;
*/
}

.zombie_player_area {

  background-position:-0px -0px;
  background-image: url('img/player_mat_zombie.png');
  opacity: 1.0;
  background-repeat: no-repeat;

/* glowing green option
    border-radius: 25px;
    background-color: rgba(0, 154, 68, 0.5);
    box-shadow:
        inset 0 0 50px #009A44,
        inset 5px 0 20px #046A38,
        inset -5px 0 20px #009A44,
        inset 5px 0 50px #046A38,
        inset -5px 0 50px #009A44,
          0 0 50px gray,
          -5px 0 20px #046A38,
          5px 0 20px #009A44;
*/
}
@media (hover: none) {
/*
  #popin_integrityDialog
  {
      left: 10px !important;
      top: 200px !important;
  }

  #popin_equipmentDialog
  {
      left: 0px !important;
      top: 300px !important;
  }
*/
}


.modified_glow
{
    border-width: 2px !important;
    border-color: yellow !important;
}

.other_equipment_active_holder_vertical {
    display: inline;
}

.other_equipment_active_holder_horizontal {
    display: inline-block;

    width: 70px;
    height: 50px;
}

#player_b_first_equipment_active_holder {
    margin-left: 25px;
    margin-bottom: 15px;
    width: 10px; /* to make it not move to next line on mobile */
}

#player_g_first_equipment_active_holder {
    margin-left: 25px;
    margin-bottom: 15px;
    width: 10px; /* to make it not move to next line on mobile */
}

#player_d_first_equipment_active_holder {
    margin-left: -15px;
    margin-bottom: 15px;
    width: 85px;
}

#player_f_first_equipment_active_holder {
    margin-left: -15px;
    margin-bottom: 15px;
    width: 85px;
}

#player_h_first_equipment_active_holder {
    margin-top: -5px;
    height: 85px;
}

#player_a_first_equipment_active_holder {
    margin-top: -5px;
    height: 85px;
}

.integrity_card_holder_vertical {
    display: inline;
    position: relative; /* required to make it move around */
}

.integrity_card_holder_horizontal {
    display: inline;
}

.player_name_holder_vertical {
    display: inline-block;
    width: 150px;
}

.player_name_holder_horizontal {
    display: inline-block;
}

.equipment_hand_holder_vertical {
    display: inline;
}

.equipment_hand_holder_horizontal {
  display: inline-block;
  width: 70px;
  height: 50px;
}

.reference_card_holder_vertical {
    display: inline-block;
    width: 50px;
    height: 70px;
}

.reference_card_holder_horizontal {
  display: inline-block;

  width: 70px;
  height: 50px;
}

.corner_box {
    display: inline-block;
    width: 150px;
    height: 160px;
    vertical-align: top;
}

.placeholder_vertical {
  display: inline-block;
  width: 50px;
  height: 70px;
}

.placeholder_horizontal {
  display: inline-block;
  width: 70px;
  height: 50px;
}

.card_placeholder_horizontal {
    display: inline-block;
    width: 70px;
    height: 50px;
}

#center_area_top {
    display: inline-block;
    vertical-align: top;
    width: 345px;
    height: 150px;

    margin-top: 15px;
    background-image: url('img/bga_center_mat.jpg');
}

#center_area_bottom {
    display: inline-block;
    vertical-align: top;
    width: 345px;
    height: 150px;
}

#qr_code {
    width: 150px;
    height: 150px;

    background-image: url('img/qr-code_150w.png');
}

#qr_code_follow {
    text-align: center;
}

#board_area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 710px;

}

.board_row_vertical {
    width: 710px;
    height: 160px;

    margin-top: 7px;
    margin-bottom: 7px;
}

.board_row_horizontal {
    width: 710px;
    height: 175px;

    margin-top: 7px;
    margin-bottom: 7px;
}

/* PLAYER NAMES */
#player_a_name_holder {
    float:right;
    vertical-align: baseline;
    margin-top: 95px;
}

#player_b_name_holder {
    display: block;
}

#player_c_name_holder {
    display: block;
    width: 150px;
    height: 20px;
}

#player_d_name_holder {
    display: block;
    margin-top: 10px; /* make 40 so it doesn't get covered up by integrity cards on mobile? */
    float:right;
}

#player_e_name_holder {
    display: inline-block;
    width: 150px;
    height: 20px;
    float:right;
}

#player_f_name_holder {
    float:right;
}

#player_g_name_holder {
    display: block;
    margin-top: 10px; /* make 40 so it doesn't get covered up by integrity cards on mobile? */
    margin-bottom: 5px;
}

#player_h_name_holder {
  vertical-align: baseline;
  margin-top: 101px;
}

#player_g_a_win_condition_holder {
  display: inline;
}

#player_d_h_win_condition_holder {
  display: inline;
}

#upper_left_name_divider {
    width: 150px;
    height: 130px;
}

#upper_right_name_divider {
    width: 150px;
    height: 110px;
}

/* GUNS */

#gun_row {

    width: 335px;
    height: 60px;
}

.gun_holder {
    display: inline-block;
    margin-left: 11px;
    margin-right: 0px;
    width: 70px;
    height: 50px;

    float: left;
}

#gun_deck {
  background-position:-0px -0px;
  background-image: url('img/gun_70w.jpg');
  opacity: 0.7;
}

#arm_deck {
  background-position:-0px -50px;
  background-image: url('img/gun_70w.jpg');
  opacity: 0.7;
}

.gun {
    display: inline-block;
    position: absolute; /* needed for a thing that slides */
    width: 70px;
    height: 50px;
    background-image: url('img/gun_70w.jpg');
    z-index: 20; /* make the gun show above everything else */
}

.integrity_card_token
{
  /*display: inline-block;*/
  position: relative; /* needed for a thing that slides */
  width: 50px;
  height: 50px;
background-image: url('img/wounded_50w.png');
  z-index: 10;
}

.medal_token
{
  /*display: inline-block;*/
  position: relative; /* needed for a thing that slides */
  width: 50px;
  height: 74px;
background-image: url('img/medal_from_tracker_50w.png');
  z-index: 15;
}

#integrity_token_bite
{
    display: none; /* hide it because it's only here as a temporary object to support a different animation */
}

.wounded_token {
    margin-right: -10px;

}

.infection_token {
    margin-top: -15px;
    margin-left: -5px;
}

.center_integrity_token {
    opacity: 0.7;
    margin-left: 15px;
    margin-top: 0px;
}

.integrity_symbol {
    background-image: url('img/integrity_symbols_25w.png');
    width: 25px;
    height: 27px;
    z-index: 5;
    display: inline-block;
    position: absolute;
}

.integrity_symbol_vertical {
    margin-left: 2px;
    margin-top: 2px;
}

.integrity_symbol_counterclockwise {
    margin-left: 2px;
    margin-top: 2px;
}

.integrity_symbol_clockwise {
    margin-left: 2px;
    margin-top: 2px;
}

.integrity_symbol_vertical_second_symbol {
    margin-left: 19px;
    margin-top: 2px;
}

.integrity_symbol_counterclockwise_second_symbol {
    margin-left: 19px;
    margin-top: 2px;
}

.integrity_symbol_clockwise_second_symbol {
    margin-left: 19px;
    margin-top: 2px;
}

/* INTEGRITY CARDS */
.integrity_card {
    display: inline-block;
    position: relative; /* needed for a thing that slides */
    width: 50px;
    height: 70px;
    background-image: url('img/integrity_card_sprite_50w.jpg');
    cursor: pointer;
}

.integrity_card_reset
{
    top: 0px !important;
    left: 0px !important;
}

.remove_top_left
{
    top: 0px !important;
    left: 0px !important;
}

.component_rounding
{
    border-radius: 5px;
    border: 1px black solid;

    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

.large_component_rounding
{
    border-radius: 15px  !important;
    border: 1px black solid !important;

    -moz-box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.4) !important;
    -webkit-box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.4) !important;
    -o-box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.4) !important;
    box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.4) !important;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

.stockitem
{
  border-radius: 5px;
  border: 1px black solid;

  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

/*@media (hover: none) {*/
@media only screen and (max-width: 996px) {
  #current_player_token {
    background-position-x:-30px !important; /* use left and right arrows on mobile */
  }
}

#current_player_token
{
    position: absolute; /* needed for a thing that slides */
    background-image: url('img/start_player_arrow.png');
    width: 30px;
    height: 30px;
    /*left: 160px;
    top: 20px;*/
}

#equipment_reference_header
{
    margin-top: 50px;
}

.used_equipment
{
    filter: brightness(50%);
}

/*
.action-button
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
*/
/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

/* EQUIPMENT CARDS */
#equipment_deck
{
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    opacity: 0.7;
}

.equipment_card_back
{
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.moving_equipment_card_back
{
    width: 50px;
    height: 70px;
    position: absolute; /* needed for a thing that slides */
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.player_board_hand_equipment
{
    display:inline-block;
    margin-left: 5px;
    margin-top: 5px;
    width: 110px;
}

.player_board_active_equipment
{
  display:inline-block;
  float:right;
  margin-top: 5px;
  width: 110px;
}

.active_equipment_card
{
    display: inline;
    position: relative; /* needed for a thing that slides */
    float: left;
    width: 50px;
    height: 70px;
    top: 0px !important;
    left: 0px !important;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
    opacity: 0.5;
}

.list_equipment_card
{
    background-image: url('img/equipment_card_sprite_240w.jpg');
    width: 240px;
    height: 336px;

    border-radius: 10px;
    border: 1px black solid;
}

.active_center_equipment_card
{
  display: inline-block;
  position: relative; /* needed for a thing that slides */
  width: 50px;
  height: 70px;
  background-image: url('img/equipment_card_sprite_50w.jpg');
  background-position:-0px -0px;
  cursor: pointer;
  z-index: 10; /* we want it to be above any infection tokens */
}

.hand_equipment_card
{
    display: inline-block;
    /*position: absolute; /* needed for a thing that slides */
    position: relative;
    width: 50px;
    height: 70px;
    background-image: url('img/equipment_card_sprite_50w.jpg');
    background-position:-0px -0px;
    cursor: pointer;
}

.large_equipment
{
    background-image: url('img/equipment_card_sprite_240w.jpg');
    width: 240px;
    height: 336px;

    border-radius: 10px;
    border: 1px black solid;
}

.large_equipment_name
{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 25px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bolder;
    background-color: #ffffff;
}

.large_equipment_effect
{
    margin-top: 197px;
    margin-left: 27px;
    margin-right: 27px;
    font-size: 12px;
    line-height: 14px; /* needed to make it fit on mobile */
}

#center_logo_buffer
{
    display: inline-block;
    width: 190px;
    height: 90px;
}

#active_equipment_center_holder
{
  display: inline;
    width: 50px;
    height: 70px;

    margin-left: 8px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 8px;

    float: right;
}

#equipment_deck
{
  display: inline;
    width: 50px;
    height: 70px;

    margin-left: 8px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 8px;

    float: right;
}

.opponent_equipment_card_horizontal
{
    display: inline-block;
}

.message_log_equipment
{
    font-weight: bolder;
    /*background-color: #d8ccb8;*/
}

/* INFECTION DIE */
@keyframes roll {
   0% { transform: translate3d(  -800px ,-25px, 800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    13% { transform: translate3d( -700px ,-25px,  0px)    rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    24% { transform: translate3d( -600px ,-50px, 400px)  rotateX(360deg) rotateY(180deg) rotateZ(360deg); }
    35% { transform: translate3d( -500px ,-25px,  0px)    rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    42% { transform: translate3d( -400px ,    0, 250px)   rotateX(90deg) rotateY(180deg) rotateZ(180deg); }
    49% { transform: translate3d( -300px ,-25px,  0px)   rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    67% { transform: translate3d( -200px ,-50px, 100px)   rotateX(270deg) rotateY(0deg) rotateZ(90deg); }
    100%{ transform: translate3d( -100px ,-25px, 0px)    rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}

@keyframes num1 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes num2 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(-90deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes num3 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(0deg) rotateY(-90deg) rotateZ(0deg) }
}
@keyframes num4 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(0deg) rotateY(90deg) rotateZ(0deg) }
}
@keyframes num5 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(90deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes num6 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(180deg) rotateY(0deg) rotateZ(0deg) }
}

.rolled {
    animation: roll 3s linear forwards;
}

.num1 {
    animation: num1 3s 1 linear forwards;
}
.num2 {
    animation: num2 3s 1 linear forwards;
}
.num3 {
    animation: num3 3s 1 linear forwards;
}
.num4 {
    animation: num4 3s 1 linear forwards;
}
.num5 {
    animation: num5 3s 1 linear forwards;
}
.num6 {
    animation: num6 3s 1 linear forwards;
}

#wrapper {
    position: relative;
    width: 100px;
    padding-top: 50px;
    margin: 0 auto;
   margin-right: 100px;
    perspective: 2000px;
}

#infectionDie span {
    position:absolute;
   right: 0;
    margin:0px;
    display: block;
    font-size: 2.5em;
    padding: 0px;
}
#infectionDie {
    position: absolute;
    width: 63px;
    height: 63px;
    transform-style: preserve-3d
}

#infectionDieResult {
    position: absolute;
    width: 63px;
    height: 63px;
    transform-style: preserve-3d;
}
.side {
    position: absolute;
    width: 63px;
    height: 63px;
    background: #f5d312;
    border-radius: 10px;
}
#infectionDie .cover, #infectionDie .inner {
    background: #f5d312;
    backface-visibility:hidden;

}
#infectionDie .cover {
    border-radius: 0;
    transform: translateZ(0px);
    z-index: -1;
}
#infectionDie .cover.x {

    transform: rotateY(90deg);
}
#infectionDie .cover.z {
    transform: rotateX(90deg);
}
#infectionDie .front  {
  background-position:-0px -0px;
  background-image: url('img/zombie_dice.jpg');
    transform: translateZ(32px);
}
#infectionDie .front.inner  {
    transform: translateZ(31px);
}

#infectionDie .top {
  background-position:-63px -0px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(90deg) translateZ(32px);
}
#infectionDie .top.inner {
    transform: rotateX(90deg) translateZ(31px);
}

#infectionDie .right {
  background-position:-126px -0px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateY(90deg) translateZ(32px);
}
#infectionDie .right.inner {
    transform: rotateY(90deg) translateZ(31px);
}
#infectionDie .left {
  background-position:-189px -0px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateY(-90deg) translateZ(32px);
}
#infectionDie .left.inner {
    transform: rotateY(-90deg) translateZ(31px);
}


#infectionDie .bottom {
  background-position:-252px -0px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(-90deg) translateZ(32px);
}
#infectionDie .bottom.inner {
    transform: rotateX(-90deg) translateZ(31px);
}


#infectionDie .back {
  background-position:-315px -0px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(-180deg) translateZ(32px);
}
#infectionDie .back.inner {
    transform: rotateX(-180deg) translateZ(31px);
}




/* ZOMBIE DIE 1 */
@keyframes zom1Roll {
   0% { transform: translate3d(  -800px ,-25px, 800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    13% { transform: translate3d( -700px ,-25px,  0px)    rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    24% { transform: translate3d( -600px ,-50px, 400px)  rotateX(360deg) rotateY(180deg) rotateZ(360deg); }
    35% { transform: translate3d( -500px ,-25px,  0px)    rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    42% { transform: translate3d( -400px ,    0, 250px)   rotateX(90deg) rotateY(180deg) rotateZ(180deg); }
    49% { transform: translate3d( -300px ,-25px,  0px)   rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    67% { transform: translate3d( -200px ,-50px, 100px)   rotateX(270deg) rotateY(0deg) rotateZ(90deg); }
    100%{ transform: translate3d( -100px ,-25px, 0px)    rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}

@keyframes zom1Num1 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom1Num2 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(-90deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom1Num3 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(0deg) rotateY(-90deg) rotateZ(0deg) }
}
@keyframes zom1Num4 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(0deg) rotateY(90deg) rotateZ(0deg) }
}
@keyframes zom1Num5 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(90deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom1Num6 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(180deg) rotateY(0deg) rotateZ(0deg) }
}

.zom1Rolled {
    animation: zom1Roll 3s linear forwards;
}

.zom1Num1 {
    animation: zom1Num1 3s 1 linear forwards;
}
.zom1Num2 {
    animation: zom1Num2 3s 1 linear forwards;
}
.zom1Num3 {
    animation: zom1Num3 3s 1 linear forwards;
}
.zom1Num4 {
    animation: zom1Num4 3s 1 linear forwards;
}
.zom1Num5 {
    animation: zom1Num5 3s 1 linear forwards;
}
.zom1Num6 {
    animation: zom1Num6 3s 1 linear forwards;
}

#zombieDie1 span {
    position:absolute;
   right: 0;
    margin:0px;
    display: block;
    font-size: 2.5em;
    padding: 0px;
}

#zombieDie1 {
    position: absolute;
    width: 63px;
    height: 63px;
    transform-style: preserve-3d
}

#zombieDie1Result {
    position: absolute;
    width: 63px;
    height: 63px;
    margin-left: 70px;
    transform-style: preserve-3d;
}
.zombieDie1Side {
    position: absolute;
    width: 63px;
    height: 63px;
    background: #74ae59;
    border-radius: 10px;
}
#zombieDie1 .cover, #zombieDie1 .inner {
    background: #74ae59;
    backface-visibility:hidden;

}
#zombieDie1 .cover {
    border-radius: 0;
    transform: translateZ(0px);
    z-index: -1;
}
#zombieDie1 .cover.x {

    transform: rotateY(90deg);
}
#zombieDie1 .cover.z {
    transform: rotateX(90deg);
}
#zombieDie1 .front  {
  background-position:-0px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: translateZ(32px);
}
#zombieDie1 .front.inner  {
    transform: translateZ(31px);
}

#zombieDie1 .top {
  background-position:-63px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(90deg) translateZ(32px);
}
#zombieDie1 .top.inner {
    transform: rotateX(90deg) translateZ(31px);
}

#zombieDie1 .right {
  background-position:-126px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateY(90deg) translateZ(32px);
}
#zombieDie1 .right.inner {
    transform: rotateY(90deg) translateZ(31px);
}
#zombieDie1 .left {
  background-position:-189px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateY(-90deg) translateZ(32px);
}
#zombieDie1 .left.inner {
    transform: rotateY(-90deg) translateZ(31px);
}


#zombieDie1 .bottom {
  background-position:-252px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(-90deg) translateZ(32px);
}
#zombieDie1 .bottom.inner {
    transform: rotateX(-90deg) translateZ(31px);
}


#zombieDie1 .back {
  background-position:-315px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(-180deg) translateZ(32px);
}
#zombieDie1 .back.inner {
    transform: rotateX(-180deg) translateZ(31px);
}




/* ZOMBIE DIE 2 */
@keyframes zom2Roll {
   0% { transform: translate3d(  -800px ,-25px, 800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    13% { transform: translate3d( -700px ,-25px,  0px)    rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    24% { transform: translate3d( -600px ,-50px, 400px)  rotateX(360deg) rotateY(180deg) rotateZ(360deg); }
    35% { transform: translate3d( -500px ,-25px,  0px)    rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    42% { transform: translate3d( -400px ,    0, 250px)   rotateX(90deg) rotateY(180deg) rotateZ(180deg); }
    49% { transform: translate3d( -300px ,-25px,  0px)   rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    67% { transform: translate3d( -200px ,-50px, 100px)   rotateX(270deg) rotateY(0deg) rotateZ(90deg); }
    100%{ transform: translate3d( -100px ,-25px, 0px)    rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}

@keyframes zom2Num1 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom2Num2 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(-90deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom2Num3 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(0deg) rotateY(-90deg) rotateZ(0deg) }
}
@keyframes zom2Num4 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(0deg) rotateY(90deg) rotateZ(0deg) }
}
@keyframes zom2Num5 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(90deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom2Num6 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(180deg) rotateY(0deg) rotateZ(0deg) }
}

.zom2Rolled {
    animation: zom1Roll 3s linear forwards;
}

.zom2Num1 {
    animation: zom1Num1 3s 1 linear forwards;
}
.zom2Num2 {
    animation: zom1Num2 3s 1 linear forwards;
}
.zom2Num3 {
    animation: zom1Num3 3s 1 linear forwards;
}
.zom2Num4 {
    animation: zom1Num4 3s 1 linear forwards;
}
.zom2Num5 {
    animation: zom1Num5 3s 1 linear forwards;
}
.zom2Num6 {
    animation: zom1Num6 3s 1 linear forwards;
}

#zombieDie2 span {
    position:absolute;
   right: 0;
    margin:0px;
    display: block;
    font-size: 2.5em;
    padding: 0px;
}

#zombieDie2 {
    position: absolute;
    width: 63px;
    height: 63px;
    transform-style: preserve-3d
}

#zombieDie2Result {
    position: absolute;
    width: 63px;
    height: 63px;
    margin-left: 140px;
    transform-style: preserve-3d;
}
.zombieDie2Side {
    position: absolute;
    width: 63px;
    height: 63px;
    background: #74ae59;
    border-radius: 10px;
}
#zombieDie2 .cover, #zombieDie2 .inner {
    background: #74ae59;
    backface-visibility:hidden;

}
#zombieDie2 .cover {
    border-radius: 0;
    transform: translateZ(0px);
    z-index: -1;
}
#zombieDie2 .cover.x {

    transform: rotateY(90deg);
}
#zombieDie2 .cover.z {
    transform: rotateX(90deg);
}
#zombieDie2 .front  {
  background-position:-0px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: translateZ(32px);
}
#zombieDie2 .front.inner  {
    transform: translateZ(31px);
}

#zombieDie2 .top {
  background-position:-63px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(90deg) translateZ(32px);
}
#zombieDie2 .top.inner {
    transform: rotateX(90deg) translateZ(31px);
}

#zombieDie2 .right {
  background-position:-126px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateY(90deg) translateZ(32px);
}
#zombieDie2 .right.inner {
    transform: rotateY(90deg) translateZ(31px);
}
#zombieDie2 .left {
  background-position:-189px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateY(-90deg) translateZ(32px);
}
#zombieDie2 .left.inner {
    transform: rotateY(-90deg) translateZ(31px);
}


#zombieDie2 .bottom {
  background-position:-252px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(-90deg) translateZ(32px);
}
#zombieDie2 .bottom.inner {
    transform: rotateX(-90deg) translateZ(31px);
}

#zombieDie2 .back {
  background-position:-315px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(-180deg) translateZ(32px);
}
#zombieDie2 .back.inner {
    transform: rotateX(-180deg) translateZ(31px);
}






/* ZOMBIE DIE 3 */
@keyframes zom3Roll {
   0% { transform: translate3d(  -800px ,-25px, 800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    13% { transform: translate3d( -700px ,-25px,  0px)    rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    24% { transform: translate3d( -600px ,-50px, 400px)  rotateX(360deg) rotateY(180deg) rotateZ(360deg); }
    35% { transform: translate3d( -500px ,-25px,  0px)    rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    42% { transform: translate3d( -400px ,    0, 250px)   rotateX(90deg) rotateY(180deg) rotateZ(180deg); }
    49% { transform: translate3d( -300px ,-25px,  0px)   rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    67% { transform: translate3d( -200px ,-50px, 100px)   rotateX(270deg) rotateY(0deg) rotateZ(90deg); }
    100%{ transform: translate3d( -100px ,-25px, 0px)    rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}

@keyframes zom3Num1 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom3Num2 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(-90deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom3Num3 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(0deg) rotateY(-90deg) rotateZ(0deg) }
}
@keyframes zom3Num4 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(0deg) rotateY(90deg) rotateZ(0deg) }
}
@keyframes zom3Num5 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(90deg) rotateY(0deg) rotateZ(0deg) }
}
@keyframes zom3Num6 {
    70%{ transform:     rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
   100%{ transform:   rotateX(180deg) rotateY(0deg) rotateZ(0deg) }
}

.zom3Rolled {
    animation: zom1Roll 3s linear forwards;
}

.zom3Num1 {
    animation: zom1Num1 3s 1 linear forwards;
}
.zom3Num2 {
    animation: zom1Num2 3s 1 linear forwards;
}
.zom3Num3 {
    animation: zom1Num3 3s 1 linear forwards;
}
.zom3Num4 {
    animation: zom1Num4 3s 1 linear forwards;
}
.zom3Num5 {
    animation: zom1Num5 3s 1 linear forwards;
}
.zom3Num6 {
    animation: zom1Num6 3s 1 linear forwards;
}

#zombieDie3 span {
    position:absolute;
   right: 0;
    margin:0px;
    display: block;
    font-size: 2.5em;
    padding: 0px;
}

#zombieDie3 {
    position: absolute;
    width: 63px;
    height: 63px;
    transform-style: preserve-3d
}

#zombieDie3Result {
    position: absolute;
    width: 63px;
    height: 63px;
    margin-left: 210px;
    transform-style: preserve-3d;
}
.zombieDie3Side {
    position: absolute;
    width: 63px;
    height: 63px;
    background: #74ae59;
    border-radius: 10px;
}
#zombieDie3 .cover, #zombieDie3 .inner {
    background: #74ae59;
    backface-visibility:hidden;

}
#zombieDie3 .cover {
    border-radius: 0;
    transform: translateZ(0px);
    z-index: -1;
}
#zombieDie3 .cover.x {

    transform: rotateY(90deg);
}
#zombieDie3 .cover.z {
    transform: rotateX(90deg);
}
#zombieDie3 .front  {
  background-position:-0px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: translateZ(32px);
}
#zombieDie3 .front.inner  {
    transform: translateZ(31px);
}

#zombieDie3 .top {
  background-position:-63px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(90deg) translateZ(32px);
}
#zombieDie3 .top.inner {
    transform: rotateX(90deg) translateZ(31px);
}

#zombieDie3 .right {
  background-position:-126px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateY(90deg) translateZ(32px);
}
#zombieDie3 .right.inner {
    transform: rotateY(90deg) translateZ(31px);
}
#zombieDie3 .left {
  background-position:-189px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateY(-90deg) translateZ(32px);
}
#zombieDie3 .left.inner {
    transform: rotateY(-90deg) translateZ(31px);
}


#zombieDie3 .bottom {
  background-position:-252px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(-90deg) translateZ(32px);
}
#zombieDie3 .bottom.inner {
    transform: rotateX(-90deg) translateZ(31px);
}


#zombieDie3 .back {
  background-position:-315px -63px;
  background-image: url('img/zombie_dice.jpg');
    transform: rotateX(-180deg) translateZ(32px);
}
#zombieDie3 .back.inner {
    transform: rotateX(-180deg) translateZ(31px);
}

/* SLIDERS */
.switch {
  position: relative;
  display: inline-block;
  float: left;
  width: 30px;
  height: 17px;
  margin-left: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #37578c;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4871b6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle_label {
  font-size: smaller;
  margin-left: 4px;
}

#toggle_container {
  margin-top: 3px;
}
